.submitButton{
margin: 1% auto 1% auto;
border-radius: 0.5rem; 
width: 12rem; 
height: 3rem; 
font-weight: 700; 
text-transform: uppercase; 
background-color: #ffffff; 
transition-property: all;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
transition-duration: 300ms; 
}
.submitButton:hover {
    background-color: #9CA3AF; 
}